tunnel: {{ cloudflared_tunnel_id | default('<PLACEHOLDER_TUNNEL_UUID>') }}
credentials-file: /etc/cloudflared/credentials.json

ingress:
  - hostname: forgejo.<REDACTED>.com
    service: https://127.0.0.1:443
    originRequest:
      noTLSVerify: true
  - hostname: ci.<REDACTED>.com
    service: https://127.0.0.1:443
    originRequest:
      noTLSVerify: true
  - hostname: vault.<REDACTED>.com
    service: https://127.0.0.1:443
    originRequest:
      noTLSVerify: true
  - hostname: grafana.<REDACTED>.com
    service: https://127.0.0.1:443
    originRequest:
      noTLSVerify: true
  - service: http_status:404
